<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Registration</title>
</head>
<body>
	<form method="POST" th:object="${user}" th:action="@{/update/} + *{id}">
		<div align="center">
			<h2>
				Update User <span th:text="${name}">Joel</span>
			</h2>
			<table th:replace="fragments/userRegistration :: body">
				<tr>
					<td>Field 1</td>
					<td><input type="text" /></td>
				</tr>
			</table>
			<table>
				<tr>
					<td></td>
					<td>
						<button type="submit">Update</button>
						<button type="reset">Reset</button>
					</td>
				</tr>
			</table>
		</div>
	</form>
</body>
</html>