<!DOCTYPE html>
 <html xmlns="http://www.w3.org/1999/xhtml"
          xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home</title>
</head>
<body>
	<table border="1">
		<tr>
			<th>Seq</th>
			<th>Name</th>
			<th>Employee ID</th>
			<th>Department Type</th>
		</tr>
		<tr th:each="user,seq_no : ${users}">
			<td th:text="${seq_no.count}">1</td>
			<td th:text="${user.name}">Joel Ruelos</td>
			<td th:text="${user.employeeId}">123312</td>
			<td th:text="${user.departmentName}">Software Development Department 1</td>
		</tr>
	</table>
</body>
</html>